#app {
    width: 80%;
    margin : auto;
    padding : 10px;
    background-color: #F7230C; 
    font-family: ubuntu;
}

.header {
    display: flex;
    flex-direction: row ;
}

.contact {
    width: 80% ;
    padding: 10px;
}

.main {
    display: flex ;
    flex-direction: row; 
}

.notes {
    width: 50%;
}

.tasks {
    width: 50%;
}




